body {
    margin: 0px;
}
h1 {
    font-size: 50px;
    text-align: center;
    border-bottom: 1px solid black;
    margin: 0px;
    padding: 20px;
}
#nav {
    border-right: 1px solid black;
    width: 140px;
}
#grid {
    display: grid;
    grid-template-columns: 100px 1fr;
}
#article {
    padding-left: 80px;
}
@media (max-width: 600px) {
    #grid {
        display: block;
    }
    #nav {
        border-right: none;
        padding-bottom: 0px;
    }
    #article {
        padding: 0px 20px;
    }
}